h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #99CCFF;
}
.lifespan,.show,.body,.index,h2,h4{
  text-align:center;
  line-height: 1.5;
}

@media screen and (max-width:480px){
    td{
        width: 20%;
    }
}
@media screen and (min-width:781px){
    .td-min{
        width: 15%;
    }
    .td-max{
        width: 35%;
    }
}